<footer class="page-footer font-small blue pt-4 bg-dark text-light">

  <div class="container">
  
    <!-- Footer Links -->
    <div class="container-fluid  text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">NIE STUDENT'S E-BAZAAR | NIE MYSORE</h5>
          <p>'NIE STUDENT'S E-BAZAAR' is a one stop platform to sell and buy all the used items at the student's comfort. This online exchange platform provides the ease of doing business within or around the NIE college. All the user needs to do is Post the used products for exchange and it would help other buyers within the campus. Student can also take the privilege of donating the items.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
  
          <ul class="list-unstyled px-5">
            <li>
              <a href="/category/All">All products</a>
            </li>
            <li>
              <a href="/category/Books">Books and Novels</a>
            </li>
            <li>
              <a href="/category/Stationery">Stationery</a>
            </li>
            <li>
              <a href="/category/Electronics">Electronics & Appliances</a>
            </li>
            <li>
              <a href="/category/Other">Others</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
  
          <ul class="list-unstyled px-5">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/working">How it works?</a>
            </li>
            <li>
              <a href="/about">About Us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
  
    <!-- Copyright -->
  
  
  </div>
  
  </footer>