
<%-include("partials/header",{type:"All"})%>

  <%if(mail.admin==true){ %>
    <a href="/manage" class="nav-link px-3 link-dark"><button type="button" class="btn btn-danger me-2">Manage E-mail</button></a>
    <% } %>
      <a href="/sold" class="nav-link px-3 link-dark"><button type="button" class="btn btn-danger me-2">Sold Items</button></a>
      <div class="container py-5">
        <div class="jumbotron">
          <h3 class="display-5 text-center">Buy and Sell used items within the college campus!</h3>
          <p class="lead text-center">Start buying and selling the used items on NIE STUDENT'S E-BAZAAR, NIE MYSORE.</p>
          <hr class="my-4">
        </div>
      </div>


      <div class="container px-4 text-center" id="featured-3">
        <h2 class="pb-2 border-bottom display-5">What makes NIE STUDENT'S E-BAZAAR unique?</h2>
        <p class="lead text-center">The Web-application is by the students, to help the other students!</p>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="">
              <svg class="bi" width="1em" height="1em"><img src="images/college.png" height="200"></svg>
            </div>
            <h4 class=" py-3">Make deals within the college campus</h4>
            <p>Buyer needn't go far from the college campus.</p>
            <P>Buyer can get essential used items within the campus, from seniors.</P>

          </div>
          <div class="feature col">
            <div class="">
              <svg class="bi" width="1em" height="1em"><img src="images/feature3.png" height="200"></svg>
            </div>
            <h4 class="py-3">Trusted Purchase</h4>
            <p>The deal is made sure to be trustworthy as it is only between students of NIE!</p>

          </div>
          <div class="feature col">
            <div class="">
              <svg class="bi" width="1em" height="1em"><img src="images/feature2.png" height="200"></svg>
            </div>
            <h4 class="py-3">Feature the used essential items on NIE STUDENT'S E-BAZAAR</h4>
            <p>The used essential items can be featured on the Web-application so that it benefits the other student!</p>

          </div>
        </div>

        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/category/All" role="button">Go to products section</a>
        </p>
      </div>


      <%-include("partials/footer")%>