<%-include("partials/header",{type:"All"})%>

<div class="container px-5 py-3">
  <div class="jumbotron">
  <!-- <h1 class="display-5" style="text-align:center;"><b>NIE STUDENT'S E-BAZAAR</b>   </h1> -->
  <h2 class="display-5">Find reusable items within the college campus!</h2>
  <!-- <p class="lead">Easily post a free ad in your college campus and browse to buy used products.</p> -->
  <hr class="my-4">


  <h3 class="display-5 py-3">1) SELLER:</h3>
  <ol class="lead">
    <li>Add reusable items for sale or donation by clicking on the <b>Add items</b> button.</li>
    <li>Enter the details and upload the images of items to be sold or donated.</li>
    <li>The added items are displayed under the 'All items' section as well as the particular category to which the item belongs.</li>
  </ol>

  <h3 class="display-5 py-3">2) BUYER:</h3>
  <ol class="lead">
    <li>Search for the essential used item required using the search box.</li>
    <li>Read the description of the item and decide to buy if the price is agreeable.</li>
    <li>Click on the 'Seller' description to reach at seller's profile.</li>
    <li>Contact the seller using the information given on his/her profile and make the final deal.</li>
  </ol>
  <ul class="lead">
    <li>Buyer can also click on <b>Donated items</b> section to see if the item is being donated, and then contact the seller.</li>
  </ul>
  

  <h3 class="display-5 py-3">3) TRANSACTION:</h3>
  <ol class="lead">
    <li>Meet in the campus after the buyer and seller agree on the deal, and make the transaction!</li>
    <li>Collect the items and pay for it.</li>
  </ol>


  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/category/All" role="button">Go to items section</a>
  </p>
</div>
</div>


<%-include("partials/footer")%>